@color_oranje: #FAB428;
@color_lightblue: #28B4FA;
@color_white: #ffffff;
@color_grey: #8b9199;
@color_black : rgba(0,0,0,0.87);

@background_color_darkblue: #7896B4;
@background_color_whitelightgrey: #f1f2f7;

@font_family_1: "Comfortaa", sans-serif;
@font_family_2: "Comfortaa", sans-serif;



body {
	// color: @color_1;
	display:block;
	font-family: @font_family_1;
	font-size: 16px;
	overflow: visible;
    overflow-y: scroll;
}

body header {
	position: relative;
	z-index: 999;
}

#main{
	width: 100%;
	height: 100%;
	min-height: 974px;
	margin: 0 auto;
	background-color: @background_color_whitelightgrey;
	color: @color_black;
}

#top_menu{
	height: 36px;
}

.header{
	width: 100%;
}

.header-band{
	height: 80px;
    width: 100%;
	top: 36px;
	position: fixed;
	background-color: @background_color_darkblue;
	
}

.header-band-logo{
	float: left;
	text-align: center;
	margin: auto;
}

// a tag
a{}

a.logo{
	font-size: 22px;
	font-weight: 300;
	color: @color_lightblue;
	float: left;
	margin-top: 15px;
	text-transform: uppercase;
}
a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
    outline: 0;
}

.logo{}

.lite{
	color: @color_oranje;
}